@CHARSET "EUC-KR";

body, code {
	font: 11px "Segoe UI", 'Lato', Corbel, arial, Verdana, 돋움, Dotum, 나눔고딕,
		NanumGothic, "맑은 고딕", "Malgun Gothic", AppleGothic, Helvetica,
		sans-serif;
	color: #000;
	background: #fff;
}

div {
	display: block;
}

li {
	list-style: none;
}

#container2 {
	width: 1200px;
	margin: 0 auto;
	margin-top: 40px;
	margin-bottom: 50px;
}

#contents {
	min-height: 500px;
}

.catetitle {
	border: 1px solid #eaeaea;
	border-bottom: 2px solid #eaeaea;
	margin: 0 auto;
	padding-top: 7px;
	line-height: 18px;
	height: 25px;
	margin-bottom: 0;
	width: 150px;
	color: #000;
	text-align: center;
	text-transform: upper;
	line-height: 18px;
}

.catetitle h2 {
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 11px;
	font-weight: normal;
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

.xans-product-menupackage .menuCategory {
	margin: 15px 0 40px 0;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 11px;
}

.xans-product-menupackage .menuCategory {
	margin: 15px 0 40px 0;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans', sans-serif, arial;
	font-size: 11px;
}

.xans-product-menupackage .menuCategory ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.xans-product-menupackage .menuCategory li {
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	align: center;
	list-style: none;
	display: list-item;
}

.xans-product-menupackage .menuCategory span {
	margin: 0 10px 0 10px;
	text-align: center;
	width: 80px;
}

.xans-product-menupackage .menuCategory span a {
	padding: 0;
	margin: 0;
	color: #000;
	text-decoration: none;
}

.xans-product-menupackage .menuCategory span a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

a:-webkit-any-link {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}

.ga09list {
	font-family: 'NanumBarunGothicLightWeb', 맑은 고딕, AppleGothic, 돋움, Dotum,
		sans-serif;
	width: 1200px;
	margin: 0 auto;
}

.ga09list ul {
	zoom: 1;
	width: 100%;
	margin-bottom: 0;
	margin-bottom: 40px;
}

.ga09list ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

#besticon {
	float: left;
	z-index: 10;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 10px;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	padding: 3px 5px 4px 5px;
	text-align: center;
	font
}

.prdline {
	margin-bottom: 10px;
}

.ga09list {
	font-family: 'NanumBarunGothicLightWeb', 맑은 고딕, AppleGothic, 돋움, Dotum,
		sans-serif;
	width: 1200px;
	margin: 0 auto;
}

.ga09list ul a:link {
	text-decoration: none;
}

.ga09list ul a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

.ga09list ul .grid4 {
	float: left;
	width: 270px;
	text-align: left;
	margin-bottom: 40px;
	margin-left: 15px;
	margin-right: 15px;
}

.ga09list ul .grid4 li {
	list-style: none;
	display: list-item;
}

.ga09list ul {
	zoom: 1;
	width: 100%;
	margin-bottom: 0;
	margin-bottom: 40px;
}

.ga09list ul, menu, dir {
	display: block;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}

.ga09paging {
	text-align: center;
}

.ga09paging p.first {
	margin: 0 -4px 0 0;
}

.ga09paging p {
	display: inline-block;
	vertical-align: top;
}

.ga09paging a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}

.ga09paging a:-webkit-any-link {
	color: -webkit-link;
	text-decoration: underline;
	cursor: auto;
}

.ga09paging img {
	vertical-align: top;
}

.ga09paging img, fieldset {
	border: none;
}

